* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

a {
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 38px;
    font-weight: 600;
}

.search {
    font-size: 16px;
    border: 1px solid #dcdcdc;
    background-color: #dcdcdc;
    color: #7a7a7a;
    border-radius: 30px;
    padding: 26px 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.icon-search {
    display: flex;
    align-items: center;
    position: absolute;
    left: 20px;
}

.search-span {
    position: absolute;
    left: 44px;
}

main {
    padding: 0px 38px;
    columns: 5;
}

img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 12px;
}

ion-icon {
    font-size: 26px;
    cursor: pointer;
}

div ion-icon {
    color: #7a7a7a;
    font-size: 20px;
}

.icone{
    color: #e60023;
    font-size: 30px;
}

.inicial {
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    padding: 16px 20px;
}

@media (max-width: 540px) {
    .images{
        columns: 2;
    }

    .search{
        display: none;
    }

    .inicial {
        border: none;
        background-color: #fff;
        color: #000;
        padding: 0px;
    }

    main{
        padding: 0px 4px;
    }

    a {
        font-size: 12px;
    }

    .expo{
        display: none;
    }
}


@media (max-width: 930px) {
    .images{
        columns: 3;
    }

    .inicial {
        border: none;
        background-color: #fff;
        color: #000;
        padding: 0px;
    }

    .search {
        padding: 26px 180px;
    }

    .expo{
        display: none;
    }

    main{
        padding: 0px 10px;
    }
}